.item {
	&:nth-last-child(1) {
		-webkit-animation-delay: 2927ms;
		animation-delay: 2927ms;
	}
	&:nth-last-child(2) {
		-webkit-animation-delay: 11667ms;
		animation-delay: 11667ms;
	}
	&:nth-last-child(3) {
		-webkit-animation-delay: 15057ms;
		animation-delay: 15057ms;
	}
	&:nth-last-child(4) {
		-webkit-animation-delay: 5063ms;
		animation-delay: 5063ms;
	}
	&:nth-last-child(5) {
		-webkit-animation-delay: 5661ms;
		animation-delay: 5661ms;
	}
	&:nth-last-child(6) {
		-webkit-animation-delay: 16677ms;
		animation-delay: 16677ms;
	}
	&:nth-last-child(7) {
		-webkit-animation-delay: 4066ms;
		animation-delay: 4066ms;
	}
	&:nth-last-child(8) {
		-webkit-animation-delay: 24185ms;
		animation-delay: 24185ms;
	}
	&:nth-last-child(9) {
		-webkit-animation-delay: 15910ms;
		animation-delay: 15910ms;
	}
	&:nth-last-child(10) {
		-webkit-animation-delay: 22259ms;
		animation-delay: 22259ms;
	}
	&:nth-last-child(11) {
		-webkit-animation-delay: 4026ms;
		animation-delay: 4026ms;
	}
	&:nth-last-child(12) {
		-webkit-animation-delay: 23030ms;
		animation-delay: 23030ms;
	}
	&:nth-last-child(13) {
		-webkit-animation-delay: 23125ms;
		animation-delay: 23125ms;
	}
	&:nth-last-child(14) {
		-webkit-animation-delay: 22192ms;
		animation-delay: 22192ms;
	}
	&:nth-last-child(15) {
		-webkit-animation-delay: 7799ms;
		animation-delay: 7799ms;
	}
	&:nth-last-child(16) {
		-webkit-animation-delay: 6420ms;
		animation-delay: 6420ms;
	}
	&:nth-last-child(17) {
		-webkit-animation-delay: 19929ms;
		animation-delay: 19929ms;
	}
	&:nth-last-child(18) {
		-webkit-animation-delay: 20847ms;
		animation-delay: 20847ms;
	}
	&:nth-last-child(19) {
		-webkit-animation-delay: 9149ms;
		animation-delay: 9149ms;
	}
	&:nth-last-child(20) {
		-webkit-animation-delay: 1026ms;
		animation-delay: 1026ms;
	}
	&:nth-last-child(21) {
		-webkit-animation-delay: 24867ms;
		animation-delay: 24867ms;
	}
	&:nth-last-child(22) {
		-webkit-animation-delay: 23480ms;
		animation-delay: 23480ms;
	}
	&:nth-last-child(23) {
		-webkit-animation-delay: 14986ms;
		animation-delay: 14986ms;
	}
	&:nth-last-child(24) {
		-webkit-animation-delay: 19536ms;
		animation-delay: 19536ms;
	}
	&:nth-last-child(25) {
		-webkit-animation-delay: 7472ms;
		animation-delay: 7472ms;
	}
	&:nth-last-child(26) {
		-webkit-animation-delay: 896ms;
		animation-delay: 896ms;
	}
	&:nth-last-child(27) {
		-webkit-animation-delay: 9082ms;
		animation-delay: 9082ms;
	}
	&:nth-last-child(28) {
		-webkit-animation-delay: 13283ms;
		animation-delay: 13283ms;
	}
	&:nth-last-child(29) {
		-webkit-animation-delay: 2780ms;
		animation-delay: 2780ms;
	}
	&:nth-last-child(30) {
		-webkit-animation-delay: 19857ms;
		animation-delay: 19857ms;
	}
	&:nth-last-child(31) {
		-webkit-animation-delay: 19662ms;
		animation-delay: 19662ms;
	}
	&:nth-last-child(32) {
		-webkit-animation-delay: 22217ms;
		animation-delay: 22217ms;
	}
	&:nth-last-child(33) {
		-webkit-animation-delay: 24520ms;
		animation-delay: 24520ms;
	}
	&:nth-last-child(34) {
		-webkit-animation-delay: 13558ms;
		animation-delay: 13558ms;
	}
	&:nth-last-child(35) {
		-webkit-animation-delay: 6683ms;
		animation-delay: 6683ms;
	}
	&:nth-last-child(36) {
		-webkit-animation-delay: 13951ms;
		animation-delay: 13951ms;
	}
}