/* MISE EN FORME DE MES VIGNETTES 
.vignettes{
  display: none;
}
article:hover .vignettes {
  display: inline;
}
.caption {
display: center;
text-align: justify;
}

.aprecuvignette {
font-size: 25px;
}

.btn-primary {
background-image: -webkit-linear-gradient(top,#A7B4C0 0,#A7B4C0 100%);
border-color: #A7B4C0;
float: center;
}

.btndisplay{
float:center;
text-align: center;
}
*/