body { padding-top: 140px; }

 h1 {
  text-align: center;
  font: Verdana;
  font-size: 60px;
}
nav {
  text-align: center;
  font-family: Verdana;
  font-size: 20px;
}

#villes li{
display: inline;
text-align: center;
font-size: 30px;
color: #CA4247;
word-spacing:50px;
}

#langues li{
display: inline;
text-align: left;
font-size: 12px;
color: black;
}

#slider {
  display: table; /* déclenche le comportement table */
  width: 100%;
  height: 100%;
}

#slider img{
    display: block;
    width: 100%;
}

#slidertext{
    display: table-cell; /* déclenche le comportement cellule de table */
    width: 100%;
    height: 100%;
    position: relative;
}

#slidertext .content{ 
  height: 100px;
  margin-top: -50px; /* Hauteur / 2 : 100 / 2 = 50*/
  top: 50%;

  width: 100%;
  position: absolute;
  color: white;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 3px 10px rgba(0,0,0,0.75);
}

.vignettes {
  display: none;
}

@media (max-width: 990px){
  .cachevignette3 {
  display: none;
  }
}

#columnleft {
    float: left;
    width: 380px;
    margin-right: 10px;
    background: rgb(190,192,192);
}
#columnright {
    float: right;
    width: 340px;
    margin-left: 10px;
    background: rgb(0,0,0);
}
#columncenter {
    overflow: hidden;
    background: white;
}

footer {
  clear:both;
  text-align:center;
}